<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EduPilot</title>
    <link rel="icon" type="image/x-icon" href="~/Images/favicon.ico">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>
<body>
    <header>
        <nav class=" header-card navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container-fluid">
                <div class="w-25">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img style="height: 5vh" src="~/Images/logo horizontal.png" alt="logo" />
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center w-50">
                    <ul class="navbar-nav flex-grow-1 justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Ana Sayfa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Institution" asp-action="Profile">Kurum Paneli</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Publisher" asp-action="Profile">Yayınevi Paneli</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">SSS</a>
                        </li>
                    </ul>
                </div>
                <div class="d-flex flex-row align-items-center justify-content-between w-25">
                    <a class="nav-link text-dark p-0">EduPilot Business</a>
                    <a class="nav-link text-center button-primary m-1" style="width:7rem" href="#EduPilotBusiness">Giriş Yap</a>

                    <a class="nav-link text-center button-secondary m-1" style="width:7rem" href="#EduPilotBusiness">Kayıt Ol</a>

                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="footer-card footer box-shadow ">
        <div>
            <div class="d-flex flex-row justify-content-between">

                <div class="w-25 justify-content-lg-start">
                    <p class="mt-2 nav-item text-light ps-2"><b>&copy; 2025 - EduPilot</b></p>
                </div>

                <div class="d-flex flex-row justify-content-center w-50">
                    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Ana Sayfa</a>
                    <a class="nav-link text-light" asp-area="" asp-controller="Institution" asp-action="Profile">Kurum Paneli</a>
                    <a class="nav-link text-light" asp-area="" asp-controller="Publisher" asp-action="Profile">Yayınevi Paneli</a>
                    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">SSS</a>
                </div>

                <div class="d-flex flex-row justify-content-end align-items-center w-25">
                    <img style="height: 4vh" class="pe-2" src="~/Images/app store.png" alt="App Store" />
                    <img style="height: 4vh" class="pe-2" src="~/Images/play store.png" alt="Play Store" />
                </div>
            </div>

        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
