<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EduPilot</title>
    <link rel="icon" type="image/x-icon" href="~/Images/favicon.ico">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom box-shadow py-2">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/Images/logo horizontal.png" alt="logo" style="max-height: 5vh;" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="mainNavbar">
                    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Ana Sayfa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Institution" asp-action="Profile">Kurum Paneli</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Publisher" asp-action="Profile">Yayınevi Paneli</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">SSS</a>
                        </li>
                    </ul>
                    <div class="d-flex flex-column flex-lg-row align-items-center gap-2 mt-2 mt-lg-0">
                        <a class="nav-link text-dark p-0">EduPilot Business</a>
                        <a class="btn btn-primary" style="width: 7rem;" href="#EduPilotBusiness">Giriş Yap</a>
                        <a class="btn btn-outline-primary" style="width: 7rem;" href="#EduPilotBusiness">Kayıt Ol</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="container-fluid p-3">
        @RenderBody()
    </main>

    <footer class="footer bg-dark text-white mt-auto py-3 box-shadow">
        <div class="container-fluid">
            <div class="row text-center text-lg-start align-items-center">
                <div class="col-12 col-lg-6 mb-2 mb-lg-0">
                    <p class="mb-0 ps-lg-2">&copy; 2025 - <b>EduPilot</b></p>
                </div>
                <div class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-end align-items-center gap-2">
                    <img src="~/Images/app store.png" alt="App Store" style="max-height: 4vh;" />
                    <img src="~/Images/play store.png" alt="Play Store" style="max-height: 4vh;" />
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
