@using EduPilot_Web.Models.DTOs
@model List<LessonsByGradeDTO>

@if (Model.Any())
{
    <form asp-action="LoadSubjects" method="post">
        <label class="form-label">Ders Seçiniz</label>
        <select name="lessonId" class="form-select" onchange="this.form.submit()">
            <option selected disabled>Ders Seçiniz</option>
            @foreach (var lesson in Model)
            {
                <option value="@lesson.Id">@lesson.Name</option>
            }
        </select>
    </form>
}
