<div style="background-color: var(--primary-accent); height: auto;">
    <div class="sidebar accordion d-flex flex-column justify-content-between" id="sidebarAccordion">

        <!-- Üst Alan -->
        <div>
            <div class="text-center my-4">
                <p class="text-light fs-2 fw-bold mb-0">EduPilot - Yayınevi</p>
            </div>

            <!-- Yeni Soru Ekle -->
            <div class="accordion-item bg-transparent border-0">
                <h2 class="accordion-header" id="profileHeading">
                    <a href="@Url.Action("AddNewQuestion", "Publisher")" class="accordion-button collapsed bg-transparent text-light fw-semibold text-decoration-none">
                        Yeni Soru Ekle
                    </a>
                </h2>
            </div>

            <!-- Sorularım -->
            <div class="accordion-item bg-transparent border-0">
                <h2 class="accordion-header" id="classesHeading">
                    <a href="@Url.Action("UnderDevelopment", "Error")" class="accordion-button collapsed bg-transparent text-light fw-semibold text-decoration-none">
                        Sorularım
                    </a>
                </h2>
            </div>
        </div>

        <!-- Alt Alan -->
        <div class="mt-4">


            <!-- Çıkış Yap -->
            <div class="accordion-item card-secondary p-0 border-0">
                <h2 class="accordion-header" id="logoutHeading">
                    <a href="@Url.Action("Index", "Home")" class="accordion-button collapsed bg-transparent text-light fw-semibold text-decoration-none">
                        Çıkış Yap
                    </a>
                </h2>
            </div>
        </div>

    </div>
</div>
