@using EduPilot_Web.Models.DTOs;
@model List<SubjectDTO>

@if (Model.Any())
{
    <label class="form-label">Konu Seçiniz</label>
    <select name="SubjectId" class="form-select">
        <option selected disabled>Konu Seçiniz</option>
        @foreach (var subject in Model)
        {
            <option value="@subject.Id">@subject.Name</option>
        }
    </select>
}
