@{
    ViewData["Title"] = "Future Work";
}

<div class="d-flex flex-row">

    <div class="content">
        <div class="bg-card">
            <div class="d-flex flex-row justify-content-between">
                <div>
                    <h2 class="fw-bold mb-5">Bu Sayfa Geliştirme Planına Dahil Edildi</h2>
                    <h5>
                        İlgili bölüm, projemizin geliştirme yol haritasında gelecekte ele alınmak üzere planlanmıştır. Şu anda aktif olarak kullanılmamakta olup, ilerleyen aşamalarda "Future Work" kapsamında detaylı bir şekilde tasarlanacak ve implemente edilecektir.

                        Göstermiş olduğunuz anlayış için teşekkür ederiz.
                    </h5>
                </div>
                <img src="~/Images/under-development.webp" alt="Alternate Text" />
            </div>
        </div>
    </div>

</div>
