@{
    ViewData["Title"] = "Öğretmen Listesi";
}

<div class="d-flex flex-row">
    <partial name="_InstitutionSidebar" />

    <div class="content">
        <div class="bg-card">
            
            <h1 class="fw-bold">Öğrenci Listesi </h1>
            <h3 class="fw-bold">Atatürk Orta Okulu</h3>

            <div class="table-responsive mt-5">
                <table class="table table-bordered table-striped">
                    <thead class="text-light" style="background-color: var(--primary-accent)">
                        <tr>
                            <th scope="col">Ad</th>
                            <th scope="col">Soyad</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Ahmet</td>
                            <td>Yıldız</td>
                        </tr>
                        <tr>
                            <td>Ayşe</td>
                            <td>Kurt</td>
                        </tr>
                        <tr>
                            <td>Mehmet</td>
                            <td>Arslan</td>
                        </tr>
                        <tr>
                            <td>Elif</td>
                            <td>Çetin</td>
                        </tr>
                        <tr>
                            <td>Burak</td>
                            <td>Öztürk</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</div>
