@{
    ViewData["Title"] = "Hakkımızda";
}

<div class="py-4 bg-card">
    <h1 class="text-center mb-4">Hakkımızda</h1>

    <div class="row justify-content-center mb-4">
        <div class="col-md-4 text-center mb-3">
            <img src="~/Images/yigit.png" alt="Yiğit Aktüre" class="img-fluid rounded-circle mb-2" style="border: 1px solid var(--primary-color)  width: 150px; height: 150px; object-fit: cover;" />
            <h3>Yiğit Aktüre</h3>
        </div>
        <div class="col-md-4 text-center mb-3">
            <img src="~/Images/nisa.png" alt="Nisa Dost" class="img-fluid rounded-circle mb-2" style="width: 150px; height: 150px; object-fit: cover;" />
            <h3>Nisa Dost</h3>
        </div>
    </div>

    <div class="d-flex flex-column justify-content-center">
        <p class="text-center lead mb-4">
            <span class="material-symbols-outlined text-center">
                favorite
            </span>
        </p>

        <p class="text-center lead mb-4">

            Bu proje, Maltepe Üniversitesi Yazılım Mühendisliği 2025 bitirme projesi kapsamında, sevgi ile geliştirilmiştir.
        </p>

        <p class="text-center lead mb-4">
            EduPilot, eğitimde yenilikçi çözümler sunan bir platformdur. Öğrencilerin öğrenme deneyimlerini geliştirmek için çeşitli araçlar ve kaynaklar sunar.
        </p>

        <br />
    </div>


    <div class="text-center">
        <p class="mb-2"><strong>Daha fazla bilgiyi içeren posteri aşağıda bulabilirsiniz:</strong></p>
        <img src="~/Images/Capstone Poster.svg" alt="EduPilot Poster" class="img-fluid" style="max-width: 100%; height: auto;" />
    </div>
</div>
