@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <!-- #region Hero Section -->
    <section class="hero-section">
        <img class="hero-image" src="~/Images/EduPilot-poster.png" alt="EduPilot Poster" />
        <div class="hero-content">
            <h1 class="fw-bold">Eğitimi</h1>
            <h1 class="fw-bold larger text-light">Bulutların Üstüne</h1>
            <h1 class="fw-bold">Taşıyan Bir Deneyim.</h1>
        </div>
    </section>
    <!-- #endregion -->
    <!-- #region EduPilot Features Section -->
    <div class="bg-card position-relative pb-5" style="margin-bottom: -1em">
        <div>
            <p class="title-large my-4">EduPilot ile Yapabileceklerin...</p>
        </div>

        <div class="container">
            <div class="feature-cards-container d-flex flex-wrap flex-row justify-content-center mb-5">
                <!-- Card 1 -->
                <div class="feature-card">
                    <div class="feature-card-mascot-container top">
                        <img src="~/Images/1.png" alt="Mascot" class="feature-card-mascot" />
                    </div>
                    <div class="feature-card-blue">
                        <div class="pb-3 ps-3 pe-3">
                            <p class="title-regular text-light text-center mb-2">
                                Haftalık Soru Sayını Kaydet.
                            </p>
                            <p class="text-light text-center">
                                Her gün çözdüğün soru sayısını kaydet, haftalık analizlerini karşılaştır.
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Card 2 -->
                <div class="feature-card">
                    <div class="feature-card-orange">
                        <div class="feature-card-text mt-5 pt-5 ps-3 pe-3">
                            <p class="title-regular text-light text-center mb-2">
                                Puan Topla, Ödülleri Kap!
                            </p>
                            <p class="text-light text-center">
                                Quizleri çözerek puan topla, kazandığın puanları dükkandaki ödülleri almak için harca!
                            </p>
                        </div>
                    </div>
                    <div class="feature-card-mascot-container bottom">
                        <img src="~/Images/2.png" alt="Mascot" class="feature-card-mascot" />
                    </div>
                </div>

                <!-- Card 3 -->
                <div class="feature-card">
                    <div class="feature-card-mascot-container top">
                        <img src="~/Images/3.png" alt="Mascot" class="feature-card-mascot" />
                    </div>
                    <div class="feature-card-blue">
                        <div class="pb-3 ps-3 pe-3">
                            <p class="title-regular text-light text-center mb-2">
                                Zayıf konun kalmasın!
                            </p>
                            <p class="text-light text-center">
                            Çözdüğün quizlerin analizleriyle zayıf konularını listele.
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Card 4 -->
                <div class="feature-card">
                    <div class="feature-card-orange">
                        <div class="feature-card-text mt-5 pt-5 ps-3 pe-3">
                            <p class="title-regular text-light text-center mb-2">
                                Zamana karşı yarış!
                            </p>
                            <p class="text-light text-center">
                                Simülasyon modülü ile ister çalışma tekniği, ister sınav zamanlayıcısı ile kendini test et!
                            </p>
                        </div>
                    </div>
                    <div class="feature-card-mascot-container bottom">
                        <img src="~/Images/4.png" alt="Mascot" class="feature-card-mascot" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #endregion -->
    <!-- #region Join Us Section -->
    <section class="join-section">
        <div class="container d-flex flex-lg-row align-items-center justify-content-around">
            <img src="~/Images/students.png" alt="Students" class="mb-4 mb-lg-0" />
            <div class="text-lg-start">
                <h2 class="title-large mb-4">Aramıza katılmaya hazır mısın?</h2>
                <p class="mb-4">Hedefini bulutların üstünde tutuyorsan, EduPilot tam sana göre!</p>
                <div class="d-flex gap-3 button-container justify-content-lg-start">
                    <a href="#" class="store-button">
                        <img src="~/Images/app store.png" alt="App Store" class="store-image" />
                    </a>
                    <a href="#" class="store-button">
                        <img src="~/Images/play store.png" alt="Play Store" class="store-image" />
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- #endregion -->
    <!-- #region Discover EduPilot Business Section -->
    <section class="bg-card py-5" id="EduPilotBusiness">
        <div class="container">
            <h2 class="title-large mb-5">EduPilot Business'i Keşfedin</h2>

            <div class="row g-4">
                <div class="col-lg-6">
                    <div class="card-primary business-card">
                        <img src="~/Images/author.webp" class="business-image" alt="Publisher" />
                        <div class="business-content">
                            <p class="text-light fs-1 fw-bold">Yayınevi</p>
                            <div>
                                <button class="button-secondary title-regular w-100 my-2" onclick="location.href='@Url.Action("Login", "Publisher")'">Giriş Yap</button>
                                <button class="button-primary-accent title-regular w-100" onclick="location.href='@Url.Action("Register", "Publisher")'">Kayıt Ol</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="card-secondary business-card">
                        <div class="business-content reverse">
                            <p class="text-light fs-1 fw-bold">Kurumsal</p>
                            <div>
                                <button class="button-primary title-regular w-100 my-2" onclick="location.href='@Url.Action("Login", "Institution")'">Giriş Yap</button>
                                <button class="button-primary-accent title-regular w-100" onclick="location.href='@Url.Action("Register", "Institution")'">Kayıt Ol</button>
                            </div>
                        </div>
                        <img src="~/Images/teacher1.png" class="business-image" alt="Institution" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- #endregion -->

</div>