@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <!-- #region Poster  Section-->
    <div style="margin-bottom: -1em; position: relative">
        <div class="text-start position-absolute" style="left: 5%; top: 25%">
            <p class="title-medium">
                Egitimi
            </p>
            <p class="title-large text-light">
                Bulutların Üstüne
            </p>
            <p class="title-medium">
                Taşıyan Bir Deneyim.
            </p>
        </div>
        <img class="w-100" style="z-index: -1" src="~/Images/EduPilot-poster.png" alt="poster" />
    </div>
    <!-- #endregion -->
    <!-- #region EduPilot ile Yapabileceklerin... -->
    <div class="bg-card position-relative pb-5" style=" margin-bottom: -1em">
        <div>
            <p class="title-large mt-3">EduPilot ile Yapabileceklerin...</p>
        </div>
        @* Cards *@
        <div class="d-flex flex-row flex-wrap justify-content-around">

            @* Card 1 *@
            <div class="d-flex flex-column align-items-center position-relative m-3" style="z-index: 2; margin-top: 2rem !important">
                <!-- Overlapping Mascot -->
                <div class=" d-flex justify-content-center" style="height: 7rem; width:20rem">
                    <img src="~/Images/1.png" alt="Mascot"
                         class="position-absolute"
                         style=" top: -2rem; height: 15rem; z-index: 3;" />
                </div>

                <!-- Card content -->
                <div class="card-primary position-relative d-flex justify-content-center pt-5" style="width: 20rem; height: 20rem">
                    <div class="w-75 align-content-center">
                        <p class="title-regular text-light text-center">
                            Haftalık Soru Sayını Kaydet.
                        </p>
                        <p class="text-light text-center">
                            Her gün çözdüğün soru sayısını kaydet, haftalık analizlerini karşılaştır.
                        </p>
                    </div>
                </div>
            </div>

            @* Card 2 *@
            <div class="d-flex flex-column align-items-center position-relative m-3" style="z-index: 2; margin-top: 1rem !important">

                <!-- Card content -->
                <div class="card-secondary position-relative d-flex justify-content-center" style="width: 20rem; height: 20rem">
                    <div class="w-75 align-content-center mb-5">
                        <p class="title-regular text-light text-center">
                            Puan Topla, Ödülleri Kap!
                        </p>
                        <p class="text-light text-center">
                            Quizleri çözerek hem kendini dene, hem puan topla. Kazandığın puanları dükkandaki ödülleri almak için harca!
                        </p>
                    </div>
                </div>

                <!-- Overlapping Mascot -->
                <div class=" d-flex justify-content-center" style="height: 7rem; width:20rem">
                    <img src="~/Images/2.png" alt="Mascot"
                         class="position-absolute"
                         style=" top: 14rem; height: 15rem; z-index: 3;" />
                </div>
            </div>

            @* Card 3 *@
            <div class="d-flex flex-column align-items-center position-relative m-3" style="z-index: 2; margin-top: 2rem !important">
                <!-- Overlapping Mascot -->
                <div class=" d-flex justify-content-center" style="height: 7rem; width:20rem">
                    <img src="~/Images/3.png" alt="Mascot"
                         class="position-absolute"
                         style=" top: -2rem; height: 15rem; z-index: 3;" />
                </div>

                <!-- Card content -->
                <div class="card-primary position-relative d-flex justify-content-center pt-5" style="width: 20rem; height: 20rem">
                    <div class="w-75 align-content-center">
                        <p class="title-regular text-light text-center">
                            Zayıf olduğun konu kalmasın!
                        </p>
                        <p class="text-light text-center">
                            Çözdüğün quizlerin analizleriyle nerede eksik olduğunu gör. Zayıf konularını listele.
                        </p>
                    </div>
                </div>
            </div>

            @* Card 4 *@
            <div class="d-flex flex-column align-items-center position-relative m-3" style="z-index: 2; margin-top: 1rem !important">

                <!-- Card content -->
                <div class="card-secondary position-relative d-flex justify-content-center" style="width: 20rem; height: 20rem">
                    <div class="w-75 align-content-center mb-5">
                        <p class="title-regular text-light text-center">
                            Zamana karşı yarış!
                        </p>
                        <p class="text-light text-center">
                            Simülasyon modülü ile ister çalışma tekniği, ister sınav zamanlayıcısı ile kendini test et!
                        </p>
                    </div>
                </div>

                <!-- Overlapping Mascot -->
                <div class=" d-flex justify-content-center" style="height: 7rem; width:20rem">
                    <img src="~/Images/4.png" alt="Mascot"
                         class="position-absolute"
                         style=" top: 14rem; height: 15rem; z-index: 3;" />
                </div>
            </div>
        </div>
    </div>
    <!-- #endregion -->

    <!-- #region Aramıza Katıl Section -->
    <div class="pb-4" style="background-color: var(--primary-accent); height: auto; margin-bottom: -2rem">
        <div>
            <p class="title-large text-light pt-5"> Aramıza katılmaya hazır mısın? </p>
            <div class="d-flex flex-row justify-content-around align-items-center">
                <div class="p-4">
                    <img src="~/Images/students.png" alt="students" />
                </div>
                <div class="d-flex flex-column h-100 justify-content-around align-items-center pe-5">
                    <p class="title-regular w- text-light text-center">
                        Hedefini bulutların üstünde tutuyorsan, kendini geliştirirken ödüllerin keyfini çıkarmak istiyorsan ve potansiyelini keşfetmek istiyorsan EduPilot tam sana göre!
                    </p>
                    <br />
                    <button class="button-secondary title-medium">
                        Başlayalım!
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- #endregion -->

    <!-- #region Keşfet Section -->
    <div class="bg-card" style="margin-bottom: -2rem">
        <div>
            <p class="title-large mt-3">
                EduPilot’u Keşfet!
            </p>
        </div>

        <div class="d-flex flex-row flex-wrap justify-content-between align-items-center p-5" style="margin-top: -7rem">

            <img class="w-25" src="~/Images/teacher.png" alt="teacher" />


            <div class="card-primary d-flex flex-column justify-content-between align-items-center p-4" style="width: 20rem; height: 23rem">
                <p class="title-large text-light">
                    Kurumsal
                </p>
                <div class="d-flex flex-column w-75">
                    <button class="button-secondary title-regular">
                        Giriş Yap
                    </button>
                    <br />
                    <button class="button-primary-accent title-regular">
                        Üye Ol
                    </button>
                </div>
            </div>

            <div class="card-secondary d-flex flex-column justify-content-between align-items-center p-4" style="width: 20rem; height: 23rem">
                <p class="title-large text-light">
                    Öğrenci / Danışman
                </p>
                <div class="d-flex flex-column" style=" width: 12rem">
                    <img src="~/Images/app store.png" alt="play store" />
                    <br />
                    <img src="~/Images/play store.png" alt="app store" />
                </div>
            </div>

            <img class="w-25" src="~/Images/student.png" alt="student" />

        </div>
    </div>

    <!-- #endregion -->

</div>
