* {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 1rem;
    font-weight: 400;
}

:root {
    --primary-color: #2F80ED;
    --primary-accent: #102A43;
    --secondary-color: #F0882D;
    --background-color: #F2F2F2;
    --background-accent: #B9B9B9;
    --success-color: #34B439;
    --danger-color: #CA2B2B;
}

html {
    min-height:100vh
}

@media (min-width: 768px) {
    html {
        font-size: .9rem;
    }

    .btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
        box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
    }

    html {
        height: 100%;
        position: relative;
        min-height: 100%;
    }

    body {
        height: 100%;
        background-color: var(--background-accent);
    }

    .header-card {
        position: relative;
        z-index: 2;
        background-color: var(--background-color);
        box-shadow: rgba(0, 0, 0, 0.25);
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }

    .footer-card {
        background-color: var(--primary-accent);
        box-shadow: rgba(0, 0, 0, 0.25);
        padding: 1rem;
    }

    .button-primary {
        background-color: var(--primary-color);
        padding: 12px;
        border-radius: 0.5rem;
        font-weight: 800;
        color: var(--background-color);
        border: none;
    }

    .button-secondary {
        background-color: var(--secondary-color);
        padding: 12px;
        border-radius: 0.5rem;
        font-weight: 800;
        color: var(--background-color);
        border: none;
    }

    .button-primary-accent {
        background-color: var(--primary-accent);
        padding: 12px;
        border-radius: 0.5rem;
        font-weight: 800;
        color: var(--background-color);
        border: none;
    }

    .bg-card {
        padding: 2rem;
        border-radius: 0.5rem;
        background-color: var(--background-color);
        box-shadow: rgba(0, 0, 0, 0.25);
    }

    .card-primary {
        padding: 10px;
        border-radius: 0.5rem;
        background-color: var(--primary-color);
        box-shadow: rgba(0, 0, 0, 0.25);
    }

    .card-primary-accent {
        padding: 10px;
        border-radius: 0.5rem;
        background-color: var(--primary-accent);
        box-shadow: rgba(0, 0, 0, 0.25);
    }

    .card-secondary {
        padding: 8px;
        border-radius: 0.5rem;
        background-color: var(--secondary-color);
        box-shadow: rgba(0, 0, 0, 0.25);
    }

    .title-large {
        font-size: 3rem;
        font-weight: 800;
    }

    .title-medium {
        font-size: 2rem;
        font-weight: 800;
    }

    .title-regular {
        font-size: 1.5rem;
        font-weight: 800;
    }

    .title-small {
        font-size: .8rem;
        font-weight: 800;
    }

    input {
        padding: 10px;
        height: 3rem;
        border-color: rgba(0,0,0,0.25);
        border-radius: 0.5rem;
    }

    .sidebar {
        width: 20rem;
        min-height: 100vh;
        height:100%;
        background-color: var(--primary-accent);
        margin-top: -5rem;/*
        margin-bottom: -5rem;*/
        padding-top: 5rem;/*
        padding-bottom: 5rem;*/
        box-shadow: rgba(0,0,0,0.25);
    }

    .content{
        width:100%;
        margin: 1rem;
    }

    .accordion {
        --bs-accordion-btn-bg: var(--primary-accent);
        --bs-accordion-btn-focus-box-shadow: none;
        --bs-accordion-active-bg: var(--primary-color);
        --bs-accordion-active-color: var(--background-color);
        --bs-accordion-bg: var(--primary-color);
        --bs-accordion-color: var(--background-color);
    }

    .accordion-button::after {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
        transition: all 0.5s;
    }
    .accordion-button:not(.collapsed)::after {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    }

    .accordion-primary-accent{
        background-color: var(--primary-accent) !important
    } 
    .accordion-primary{
        background-color: var(--primary-color) !important
    }
    .accordion-secondary{
        background-color: var(--secondary-color) !important;
    }

}


