@{
    ViewData["Title"] = "Yoklama";
}

<div class="d-flex flex-row">
    <partial name="_InstitutionSidebar" />

    <div class="content">
        <div class="bg-card">
            <p>
                Yoklama al ve yoklama listesi olarak 2 adet işlev olacak. <br />
                Bu sayfaya FEA için yaptığımız yüz algılama/yoklama alma uygulaması eklenecek.<br />
                Öğrencilerin fotoğrafı (nullable) sisteme eklenecek ve uygulama fotoğrafları veritabanından çekip eşleştirme yapacak <br />
                Yoklama alındıktan sonra yoklama bilgileri veritabanına kaydedilecek ve yoklama bilgileri listelenecek.
            </p>
        </div>
    </div>

</div>
