@{
    ViewData["Title"] = "Sınıf Listesi";
}

<div class="d-flex flex-row">
    <partial name="_InstitutionSidebar" />

    <div class="content">
        <div class="bg-card">
            Sınıf Listesi
        </div>
    </div>

</div>
